 * {
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", cursive;
  font-size: 62.5%;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  margin: 0 auto;
  flex-direction: row;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100vh;
  gap: 0px 0px;
  grid-template-areas: "a b c d e";
}
.size {
  background-repeat: no-repeat;
  background-size: 290% 160%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55em;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.a {
  grid-area: a;
  background-image: url(images/1.jpg);
}
.b {
  grid-area: b;
  background-image: url(images/2.jpg);
}
.c {
  grid-area: c;
  background-image: url(images/3.jpg);
}
.d {
  grid-area: d;
  background-image: url(images/4.jpg);
}
.e {
  grid-area: e;
  background-image: url(images/5.jpg);
}

.big_title:hover {
  width: 100%;
  padding: 40px 0px;
  border: solid 2px red;
  display: flex;
  justify-content: center;
  align-items: center;
} 
