
*{
font-family: 'Amatic SC', cursive;
box-sizing: border-box;
font-size: 20px;
font-weight: 200;
}
body{ 
background: #ffc600;
margin: 0;
}
#Overview{
    height: 100vh;
    display: flex;
    overflow: hidden;
}
.Photos{
color: rgb(255, 255, 255);
 transition:.6s ease-out;
font-size: 2rem;
align-items: center;
text-align: center;
border: solid rgb(0, 0, 0) 1px;
background-size:cover;
background-position: center;
background-repeat: no-repeat;
position: relative;
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.Background1{background-image: url(1.jpg);}
.Background2{background-image: url(2.jpg);}
.Background3{background-image: url(3.jpg);}
.Background4{background-image: url(4.jpg);}
.Background5{background-image: url(5.jpg);}



 .Photos p{
    text-transform: uppercase;
    font-weight:bold;
    font-size: larger;
    
}
/* 
.Photos.first-child {transform: translateY(-200px);} */
/* .Photos.open-active >*:first-child{ transform: translateY(0);} */

/* .Photos.last-child {transform: translateY(200px);} */ */
/* .Photos.open-active >*:first-child{ transform: translateY(0);} */ */




.Photos p {
    text-transform: uppercase;
    font-weight:bold;
    font-size: larger;
    width: 100%;
    transition:.2s;
    justify-content: center;
    align-items: center;
    box-sizing:border-box ;
     } 

 .Overview{
        flex: 4;

 }
 