*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
    box-sizing: border-box;
}
body{
    background-color: rgb(95, 25, 160);
    height: 100vh;
    display: flex;
    align-items:center ;
    position: relative;
    justify-content: center;
}
.textholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 40vw;
    position: relative;
}
body h1{
    position: absolute;
    top: 10%;
}
#search{
    background: aliceblue;
    border: none;
    width: 100%;
    padding: 10px;
    opacity: 0.9;
    border-radius: 4px;
    text-align: start;
    color: black;
}
.set{
    position: absolute;
    top: 35%;
}
button{
    
    width: 100%;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    border-bottom: none;

}
.btn{
    display: flex;
    background-color: rgb(95, 25, 160); 
    
}
::placeholder{
    color:rgb(85, 7, 85);
    opacity: .5;
}
a:hover{
    background-color: grey;
    padding: 5px;
}